.form {
  padding-top: 4rem;
  width: 80%;
  margin: 0 auto;
}

.formItem {
  margin-bottom: .5rem; 
}


.formInput {
  display: block;
  width: 100%;
  height: .32rem;
  padding: .12rem;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #59c759;
  outline: none;
  box-sizing: border-box;
}


.formButton {
  display: block;
  width: 100%;
  border: none;
  padding: .12rem;
  text-align: center;
  color: #fff;
  background: #59c759;
}